* {
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container img {
    vertical-align: middle;
    width: min-content;
    height: min-content;
}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}